body {
  font-family: Georgia, serif;
  background-color: rgb(179, 144, 90);;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 20px;
}

.mushroom-box {
  border: 1px solid #e0d8bb;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  background-color: #e4d2a6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%; /* Adjust the width as needed */
}

h2 {
  font-size: 20px;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
