<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>SvampPro</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded" rel="stylesheet">
<style>
@import url(static/css/index.css);
</style>
</head>

<body>

<header>
  <nav>
    <ul>
      <br>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/svampar">svampar</a></li>
      <br>
    </ul>
  </nav>  
  <h1>SvampPro</h1>
  <h2>Till dig som är svampälskare!</h2>
  <h1><img src="static/img/bokskog.jpg" alt="kantareller" width="900" height="500"></h1>
  <p></p>
</header>

<main>
  <br></br>
  <br></br>
  <h3>Svampar</h3>
  <p><img src="static\img\StandardImage.jpg" alt="" width="250" height="300"> <img src="static\img\obj.jpg" alt="" width="250" height="300"> <img src="static/img/mushroom-5703868_1280.jpg" alt="" width="250" height="300"> <img src="static/img/kantareller_skog.jpg" alt="" width="250" height="300"> <img src="static/img/svampar-960x540.jpg" alt="" width="250" height="300">
  <p>Det finns över 10.000 svamparter i Norden och drygt 100 av dem är bra matsvampar. Vill du veta mer?.</p>
  <p class="svampar"><h2><a href="/svampar">Titta på våra svampar</a></h2></p>
</main>


<footer>
  <p>All content copyright &copy; 2023, SvampPro</p>
</footer>

</body>
</html>
