<!DOCTYPE html>
<html>
<head>
    <title>Svampar Information</title>
    <style>
        @import url(static/css/svampar.css);
    </style>
</head>
<body>
    <h1>Svampar Information</h1>

    <div class="mushroom-box">
        <h2>Giftiga Svampar</h2>
        <img src="static/img/gifti_ svamparrodflugsvamp-crop-344-230.jpg" alt="Giftig Svamp">
        <img src="static/img/giftig_svamparstenmurkla-crop-344-230.jpg" alt="Giftig Svamp 2">
    </div>

    <div class="mushroom-box">
        <h2>Ogiftiga Svampar</h2>
        <img src="static/img/ogifitg_gomphidius_glutinosus_01.jpg" alt="Ogiftiga Svampar">
        <img src="static/img/ogifit_leccinum_rufum_01.jpg" alt="Ogiftiga Svampar">
    </div>
</body>
</html>
